{% extends 'todo/base.html' %}

{% block content %}
<div id="backgroundContainer" class="container" style="
    width: 40%;
    height: 0px;
    padding: 0px;
    display: block;
    border-radius: 8px;
    margin: 4px 2px;
    position:absolute;
    opacity:0.5;
    top:20%;
    left:30%;
    z-index:2;
    background-color: white;
    ">
</div>
<div id="contentContainer" class="container" style="
    width: 40%;
    height: auto;
    border-color:-internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-width: 1px;
    border-style: solid;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 14px;
    margin: 4px 2px;
    border-radius: 8px;
    position:absolute;
    top:20%;
    left:30%;
    z-index:3;">
<div class="container">
<h1>Your Closed TodoSKAs:</h1>
<hr>
{% if not todos %}
  <br>
  <p>No todoSKAs</p>
{% else %}
<table class="table table-striped">
  <colgroup>
    <col span="7" style="background-color:LightCyan">
  </colgroup>
  <tr>
    <th>TITLE</th>
    <th>DESCRIPTION</th>
    <th>PRIORITY</th>
    <th>CREATE</th>
    <th>STATUS</th>
    <th>CLOSED</th>
  </tr>

{% for todo in todos %}
  <tr>

      <td>
    <a href="{% url 'detailtodo' todo.id %}" style="text-decoration:none; color: black;">
      {{ todo.title }}
    </a>
    </td>
    <td>
      {% if todo.description %}
        {{ todo.description }}
      {% endif %}
    </td>
    {% if todo.priority == '3' %}
      <td style="color: red;">{{ todo.get_priority_display }}</td>
    {% elif todo.priority == '2' %}
      <td style="color: DarkOrange;">{{ todo.get_priority_display }}</td>
    {% elif todo.priority == '1' %}
      <td style="color: black;">{{ todo.get_priority_display }}</td>
    {% endif %}
    <td>
      {{ todo.created_date|date:'H:i d.m.y' }}
    </td>
    <td width=20%>
      <form id="Todo{{ todo.pk }}" class="closeTodo" method="POST" action="{% url 'closetodo' todo.pk %}">
        {% csrf_token %}
      <select class="form-select" form ="Todo{{ todo.pk }}">
      {% for choise in todo.STATUSES_CHOISES %}
        {% if choise.0 == todo.status %}
          <option value="{{ choise.0 }}" selected>{{ choise.1 }}</option>
        {% else %}
          <option value="{{ choise.0 }}">{{ choise.1 }}</option>
        {% endif %}
      {% endfor %}
      </select>
      </form>
    </td>
    {% if todo.close_date %}
    <td>
      {{ todo.close_date|date:'H:i d.m.y' }}
    </td>
    {% endif %}

  </tr>
  {% endfor %}
</table>
{% endif %}
</div>
</div>
{% endblock %}
