{% extends 'todo/base.html' %}

{% block content %}
<ul>
<h1>Your Active TodoSKAs:</h1>
<hr>
{% if not todos %}
  <br>
  <p>No todos</p>
{% else %}

<table class="table table-striped">
  <colgroup>
    <col span="4" style="background-color:LightCyan">
    <col span="1" style="background-color:Crimson">
    <col span="2" style="background-color:LightCyan">
  </colgroup>
  <tr>
    <th>TITLE</th>
    <th>DESCRIPTION</th>
    <th>PRIORITY</th>
    <th>CREATE</th>
    <th>DEADLINE</th>
    <th>STATUS</th>
  </tr>

{% for todo in todos %}
  <tr>

      <td>
    <a href="{% url 'detailtodo' todo.id %}" style="text-decoration:none; color: black;">
      {{ todo.title }}
    </a>
    </td>
    <td>
      {% if todo.description %}
        {{ todo.description }}
      {% endif %}
    </td>
    {% if todo.priority == '3' %}
      <td style="color: red;">{{ todo.get_priority_display }}</td>
    {% elif todo.priority == '2' %}
      <td style="color: DarkOrange;">{{ todo.get_priority_display }}</td>
    {% elif todo.priority == '1' %}
      <td style="color: black;">{{ todo.get_priority_display }}</td>
    {% endif %}
    <td>
      {{ todo.created_date|date:'H:i d.m.y' }}
    </td>
    <td>
      {{ todo.deadline_date|date:'H:i d.m.y' }}
    </td>
    <td>
      <form id="Todo{{ todo.pk }}" class="closeTodo" method="POST" action="{% url 'closetodo' todo.pk %}">
        {% csrf_token %}
      <select class="form-select" form ="Todo{{ todo.pk }}">
      {% for choise in todo.STATUSES_CHOISES %}
        {% if choise.0 == todo.status %}
          <option value="{{ choise.0 }}" selected>{{ choise.1 }}</option>
        {% else %}
          <option value="{{ choise.0 }}">{{ choise.1 }}</option>
        {% endif %}
      {% endfor %}
      </select>
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endif %}
</ul>
{% endblock %}
